@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display{
    display: flex;
}
.bgc-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.btn-primary{
    color: white;
    background-color: #FF900E;
    font-size: 1.0rem;
    font-weight: 600;
    padding: 1.0rem 1.2rem;
    border-radius: 0.5rem;
    border: none;
}
main{
    max-width: 85%;
    margin: 0 auto;
}
/* nav styles */
.navbar{
   justify-content: space-between;
   align-items: center;
   max-width: 85%;
   margin: 0px auto; 
}
.brand{
    font-size: 2.25rem;
    margin-top: 2.5rem;
}
.nav-item{
    list-style: none;
    margin-top: 3rem;
    font-size: 0.9rem;
    font-weight: 500;
}
.nav-link{
    text-decoration: none;
    margin-right: 2rem;
}
/* header styles */
.banner{
    max-width: 85%;
    margin: 0 auto;
    margin-top: 6rem;
}
.banner-img{
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.banner-content{
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 3.2rem;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}
.banner-description{
    font-size: 0.8rem;
    margin-top: 2rem;
    margin-bottom: 1.8rem;
    line-height: 1.3rem;
}
/* section two styles */
.two{
    margin-top: 5rem;
    margin-left: 3rem;
    align-items: center;
}
.team-img-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
   gap: 1.5rem;
}
.features{
    max-width: 35%;
    margin-left: 4rem;
}
.feature-title{
    font-size: 3rem;
}
.feature-description{
    font-size: 0.8rem;
    line-height: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
/* section three styles  */
.three{
    display: flex;
    margin-top: 10rem;
    gap: 7rem;
}
.middle{
    max-width: 45%;
    margin-top: 2.5rem;
}
.middle-title{
    border-left: 5px solid #FF900E;
    padding-left: 1rem;
    font-size: 2.5rem;
}
.middle-description{
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
}
.mid-heading{
    font-size: 1.1rem;
}
.mid-description{
    font-size: 0.85rem;
    line-height: 1.2rem;
}
.div-1, .div-2, .div-3, .div-4{
    padding: 2rem 2.0rem;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
}
.middle-image>img{
   max-width: 100%;
}
#Experience{
    padding: 2.5rem 2rem;
    margin-left: -80px;
    margin-top: -100px;
}
#one{
    font-size: 3rem;
    font-weight: 700;
}
#two{
    font-size: 1.5rem;
}
/* section four styles */
.four{
    margin-top: 8rem;
}
.fact-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
}
.fact-card{
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #FF900E;
    border-radius: 0.5rem;
    height: 12rem;
    width: 12rem;
}
.fact-title{
    font-size: 2.5rem;
}
.fact-description{
    font-size: 0.9rem;
    line-height: 1.3rem;
    max-width: 40%;
    margin-top: 1.4rem;
    margin-bottom: 3rem;
}
.fact-num{
    font-size: 2.5rem;
}
.fact-name{
    font-size: 1rem;
}
/* section five styles */
.sponsor{
    margin: 8rem auto;
}
.sponsor-info{
    max-width: 40%;
    margin: 0rem auto;
    text-align: center;
}
.sponsor-title{
    font-size: 2.5rem;
}
.sponsor-description{
    font-size: 0.9rem;
    margin-top: 1.2rem;
    margin-bottom: 3rem;
}
.sponsor-logo{
    display: flex;
    justify-content: space-between;
}
.sponsor-logo > img{
    filter:grayscale(80%);
}

/* footer styles */
footer{
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
}
.footer-p{
    padding: 1.2rem 20rem;
    margin-bottom: 50px;
}

/* Responsive media query for mobiles */
@media screen and (max-width: 576px){
    .navbar, .two, .sponsor-logo{
        flex-direction: column;
    }
    .banner-content, .navbar, .features, .two, .fact-description, .sponsor-info{
        max-width: 100%;
    }
    .team-img-container, .fact-cards{
        grid-template-columns: repeat(1,1fr);
    }
    .two, .features{
        margin-left: 0rem;
    }
    .fact-cards{
        justify-items: center;
    }
    .sponsor-logo > img{
        max-width: 30%;
    }
    .sponsor-logo{
        align-items: center;
        gap: 20px;
    }
    .footer-p{
        padding: 0rem;
    }
    
}
/* Responsive media query for tablets */
@media screen and (min-width:576.1px) and (max-width:1024px){
    .two{
        flex-direction: column;
    }
    .features{
        max-width: 95%;
        margin: 30px auto;
    }
    .team-img-container > img{
        max-width: 100%;
    }
    .fact-cards {
        grid-template-columns: repeat(3, 1fr);
        
    }
    .fact-description, .sponsor-info{
        max-width: 80%;
    }
    .sponsor-logo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
